<nav class ="navbar navbar-dark bg-success mb-4">


	<div class ="container">
		<a class ="navbar-brand" href ="https://www.mos.ru/city/projects/dolgoletie/">Московское долголетие</a>

	</div>

    {% load static %}
    <link rel="icon" type="image/png" sizes="50x50" href="{% static 'app/images/favicon.png' %}">

</nav>


<!--
<div class="collapse navbar-collapse " id="navbarSupportedContent">
     <ul class="navbar-nav mr-4">
       
       <li class="nav-item">
         <a class="nav-link" href="https://www.mos.ru/city/projects/dolgoletie/">About</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="app/test">Portfolio</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Team</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Post</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Contact</a>
       </li>
     </ul>
     
   </div>
-->
